<%- include('partials/_header'); %>

<!-- CUSTOM PART -->
<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/responsive.css">
</head>

<body>
	<div class="super_container">
		<!-- END OF CUSTOM PART-->

		<%- include('partials/_navigation'); %>


		<!-- Home -->

		<div class="home" style="height: 50vh;">
			<div class="home_background" style="background-image: url(/images/index_background.jpg);"></div>
			<div class="overlay" style="height: 50vh;"></div>
			<div class="home_content" style="top:55%">
				<div class="container">
					<div class="row">
						<div class="col text-center">
							<h1 class="home_title">Welcome to your dashboard, <%= user.username %> !</h1>
						</div>
					</div>
				</div>
			</div>
		</div>




		<div class="container">
			<!-------------------------------------->
			<!-- ERROR & SUCCESS MESSAGES DISPLAY -->
			<!-------------------------------------->
			<div class="error-success-messages">
				<% if(errorMessage){ %>
				<div class="alert alert-danger">
					<%= errorMessage %>
				</div>
				<% } else if (successMessage){ %>
				<div class="alert alert-success">
					<%= successMessage %>
				</div>
				<% } %>
			</div>
			<!------------------------------------>
			<!-- ADD ACTOR OR MOVIE : Container -->
			<!------------------------------------>
			<div class="row add-movie-container" style="padding: 50px;">
				<div style="display: block; justify-content: center;">
					<!-- ADD MOVIE : Modal Button -->
					<div class="col-lg-12 text-center" style="padding: 10px;">
						<button class="btn btn-lg btn-primary " href="#" data-toggle="modal"
							data-target="#addMovie"><span><i class="fa fa-plus"></i> Add a
								new
								movie</span></button>
					</div>

					<!-- ADD ACTOR : Modal Button -->
					<div class="col-lg-12 text-center ">
						<button class="btn btn-lg btn-secondary" href="#" data-toggle="modal"
							data-target="#addActor"><span><i class="fa fa-plus"></i> Add a new
								actor</span></button>
					</div>
				</div>

				<!-- ADD MOVIE : Modal -->
				<div class="modal fade" id="addMovie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-body customer-box">
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active" id="Login">
										<form method="POST" action="/movies/addMovie" class="form-horizontal"
											enctype="multipart/form-data">
											<!-- title -->
											<div class="form-group">
												<div class="col-sm-12">
													<input type="text" name="title" class="form-control"
														placeholder="title" required>
												</div>
											</div>

											<!-- description -->
											<div class="form-group">
												<div class="col-sm-12">
													<textarea rows="8" name="description" class="form-control"
														placeholder="description" required></textarea>
												</div>
											</div>

											<!-- isShared -->
											<div class="form-group">
												<div class="col-sm-12">
													<select class="form-control" name="isShared">

														<option value=0>Private</option>

														<option value=1>Public</option>

													</select>
												</div>
											</div>

											<!-- photo upload -->
											<div class="form-group">
												<div class="col-sm-12">
													<label for="moviePhoto">Choose a photo:</label>
													<input type="file" id="moviePhoto" name="image"
														class="form-control-file rounded-0" accept="image/*">
												</div>
											</div>

											<!-- submit and cancel -->
											<div class="row">
												<div class="col-sm-10"
													style="display: flex;justify-content: center;margin: auto;">
													<button type="submit" style="margin: 0 10px;"
														class="btn btn-outline-primary btn-radius btn-brd grd1">
														Submit
													</button>
													<button type="submit" style="margin: 0 10px;"
														class="btn btn-outline-dark btn-radius btn-brd grd1"
														data-dismiss="modal" aria-hidden="true">
														Cancel
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ADD MOVIE : Modal - END -->

				<!-- ADD ACTOR : Modal -->
				<div class="modal fade" id="addActor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-body customer-box">
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active" id="Login">
										<form method="POST" action="/actors/addActor" class="form-horizontal"
											enctype="multipart/form-data">
											<!-- fullname -->
											<div class="form-group">
												<div class="col-sm-12">
													<input type="text" name="fullname" class="form-control"
														placeholder="fullname" required>
												</div>
											</div>

											<!-- bio -->
											<div class="form-group">
												<div class="col-sm-12">
													<textarea rows="8" name="bio" class="form-control" placeholder="bio"
														required></textarea>
												</div>
											</div>

											<!-- isShared -->
											<div class="form-group">
												<div class="col-sm-12">
													<select class="form-control" name="isShared">

														<option value=0>Private</option>

														<option value=1>Public</option>

													</select>
												</div>
											</div>

											<!-- photo upload -->
											<div class="form-group">
												<div class="col-sm-12">
													<label for="moviePhoto">Choose a photo:</label>
													<input type="file" id="moviePhoto" name="image"
														class="form-control-file rounded-0" accept="image/*">
												</div>
											</div>

											<!-- submit and cancel -->
											<div class="row">
												<div class="col-sm-10"
													style="display: flex;justify-content: center;margin: auto;">
													<button type="submit" style="margin: 0 10px;"
														class="btn btn-outline-primary btn-radius btn-brd grd1">
														Submit
													</button>
													<button type="submit" style="margin: 0 10px;"
														class="btn btn-outline-dark btn-radius btn-brd grd1"
														data-dismiss="modal" aria-hidden="true">
														Cancel
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ADD ACTOR : Modal - END -->

			</div>
		</div>

		<!------------------------------------------------------------------------>
		<!--                         DISPLAY MOVIES                             -->
		<!------------------------------------------------------------------------>
		<div class="courses" style="background-color: #f8f8f8;">
			<div class="container">
				<div class="row">
					<div class="col">
						<h1 class="section_title text-center">Movies you added</h1>
					</div>
				</div>
				<div class="row courses_row">

					<% if(userMovies.length > 0){ %>
					<% for(let i=0; i<userMovies.length; i++){ %>
					<!------------------>
					<!-- SINGLE MOVIE -->
					<!------------------>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 course_col">
						<div class="course">
							<div class="course_image"><img src="<%= userMovies[i].url %>" alt=""></div>
							<div class="course_body">
								<div class="course_title"><a
										href="/movies/<%= userMovies[i].id %>"><%= userMovies[i].title.substring(0, 30) %></a>
								</div>

								<div class="course_info">
									<ul>
										<li><%= userMovies[i].isShared == "0" ? "Private" : "Public" %></li>
									</ul>

								</div>

								<span>

									<!-- TOGGLE MOVIE VISIBILITY : Modal Button-->
									<button data-toggle="modal" data-target="#toggleMovie<%= userMovies[i].id %>"
										class="btn <%= userMovies[i].isShared == "1" ? "btn-outline-secondary" : "btn-outline-info" %> btn-sm">
										<% if(userMovies[i].isShared){ %>
										<span><i class="fa fa-ban"></i>&nbsp&nbspHide</i></span>
										<% } else { %>
										<span><i class="fa fa-send"></i>&nbsp&nbspShare</i></span>
										<% } %>
									</button>

								</span>

								<div class="course_text">
									<p><%= userMovies[i].description.substring(0, 70)%></p>
								</div>
							</div>
							<div class="course_footer d-flex flex-row align-items-center justify-content-space-between">
								<!-- UPDATE MOVIE : Modal Button-->
								<button class="btn btn-info btn-sm" data-toggle="modal"
									data-target="#updateMovie<%= userMovies[i].id %>"><span><i
											class="fa fa-edit"></i>&nbsp&nbspUPDATE</span></button>
								<!-- DELETE MOVIE : Modal Button-->
								<button class="btn btn-danger btn-sm" data-toggle="modal"
									data-target="#deleteMovie<%= userMovies[i].id %>"><span><i
											class="fa fa-trash"></i>&nbsp&nbspDELETE</span></button>

							</div>
						</div>
					</div>




					<!-------------------------->
					<!-- TOGGLE MOVIE : Modal -->
					<!-------------------------->
					<div class="modal fade" id="toggleMovie<%= userMovies[i].id %>" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="top: 30vh;">
							<div class=" modal-content">
								<div class="modal-body customer-box">
									<!-- Tab panes -->
									<div class="tab-content">
										<div class="tab-pane active" id="Login">

											<form method="POST"
												action="/movies/visibility<%= userMovies[i].id %>?_method=PUT"
												class="form-horizontal">
												<div class="form-group">
													<div class="col-sm-12">
														<p>Are you sure you want to
															<%= userMovies[i].isShared == 0 ? "share" : "hide" %> this
															movie?</p>

														<input type="hidden" name="id" value="<%= userMovies[i].id %>"
															class="form-control" placeholder="title" required>
													</div>
												</div>

												<div class="row">
													<div class="col-sm-10"
														style="display: flex;justify-content: center;margin: auto;">
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-<%= userMovies[i].isShared == 0 ? "primary" : "secondary" %> btn-radius btn-brd grd1">
															<%= userMovies[i].isShared == 0 ? "SHARE" : "HIDE" %>
														</button>
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-dark btn-radius btn-brd grd1"
															data-dismiss="modal" aria-hidden="true">
															CANCEL
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>







					<!-------------------------->
					<!-- UPDATE MOVIE : Modal -->
					<!-------------------------->
					<div class="modal fade" id="updateMovie<%= userMovies[i].id %>" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-body customer-box">
									<!-- Tab panes -->
									<div class="tab-content">
										<div class="tab-pane active" id="Login">
											<form method="POST" action="/movies/<%= userMovies[i].id %>?_method=PUT"
												class="form-horizontal" enctype="multipart/form-data">
												<div class="form-group">
													<div class="col-sm-12">
														<input type="text" name="title"
															value="<%= userMovies[i].title %>" class="form-control"
															placeholder="title" required>
													</div>
												</div>

												<div class="form-group">
													<div class="col-sm-12">
														<textarea rows="8" name="description" class="form-control"
															placeholder="description"
															required><%= userMovies[i].description %></textarea>
													</div>
												</div>

												<div class="form-group">
													<div class="col-sm-12">
														<select class="form-control" name="isShared">
															<option value=0
																<%= userMovies[i].isShared==0 && "selected='selected'"%>>
																Private
															</option>
															<option value=1
																<%= userMovies[i].isShared==1 && "selected='selected'"%>>
																Public
															</option>
														</select>
													</div>
												</div>

												<div class="form-group">
													<div class="col-sm-12">
														<label for="moviePhoto">Choose a photo:</label>
														<input type="file" id="moviePhoto" name="image"
															class="form-control-file rounded-0" accept="image/*">
													</div>
												</div>


												<div class="row">
													<div class="col-sm-10"
														style="display: flex;justify-content: center;margin: auto;">
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-primary btn-radius btn-brd grd1">
															Submit
														</button>
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-dark btn-radius btn-brd grd1"
															data-dismiss="modal" aria-hidden="true">
															Cancel
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-------------------------->
					<!-- DELETE MOVIE : Modal -->
					<!-------------------------->
					<div class="modal fade" id="deleteMovie<%= userMovies[i].id %>" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="top: 30vh;">
							<div class=" modal-content">
								<div class="modal-body customer-box">
									<!-- Tab panes -->
									<div class="tab-content">
										<div class="tab-pane active" id="Login">

											<form method="POST" action="/movies/<%= userMovies[i].id %>?_method=DELETE"
												class="form-horizontal">
												<div class="form-group">
													<div class="col-sm-12">
														<p>Are you sure you want to delete this movie?</p>

														<input type="hidden" name="id" value="<%= userMovies[i].id %>"
															class="form-control" placeholder="title" required>
													</div>
												</div>

												<div class="row">
													<div class="col-sm-10"
														style="display: flex;justify-content: center;margin: auto;">
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-danger btn-radius btn-brd grd1">
															DELETE
														</button>
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-dark btn-radius btn-brd grd1"
															data-dismiss="modal" aria-hidden="true">
															CANCEL
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<% } %>
				</div>
				<% } else { %>

				<div style="margin:auto; margin-bottom: 40px;">
					You haven't added any movie yet.
				</div>
				<% } %>

			</div>
		</div>

		<!------------------------------------------------------------------------>
		<!--                         DISPLAY ACTORS                             -->
		<!------------------------------------------------------------------------>

		<div class="instructors">
			<div class="container">
				<div class="row">
					<div class="col">
						<h1 class="section_title text-center">Actors you added</h1>
					</div>
				</div>
				<div class="row instructors_row">

					<% if(userActors.length > 0){ %>
					<% for(let i=0; i<userActors.length; i++){ %>
					<!------------------>
					<!-- SINGLE ACTOR -->
					<!------------------>
					<div class="col-xl-3 col-lg-4 col-md-6  col-sm-12 instructor_col">
						<div class="instructor text-center">
							<div class="instructor_image_container">
								<div class="instructor_image"><img src="<%= userActors[i].url %>" alt=""></div>
							</div>
							<div class="actor_body">
								<div class="instructor_name"><a
										href="/actors/<%= userActors[i].id %>"><%= userActors[i].fullname.substring(0, 30) %></a>
								</div>
								<div class="instructor_title">
									<%= userActors[i].isShared == "0" ? "Private" : "Public" %>
								</div>

								<div>

									<!-- TOGGLE ACTOR VISIBILITY : Modal Button-->
									<button data-toggle="modal" data-target="#toggleActor<%= userActors[i].id %>"
										class="btn <%= userActors[i].isShared == "1" ? "btn-outline-secondary" : "btn-outline-info" %> btn-sm">
										<% if(userActors[i].isShared){ %>
										<span><i class="fa fa-ban"></i>&nbsp&nbspHide</i></span>
										<% } else { %>
										<span><i class="fa fa-send"></i>&nbsp&nbspShare</i></span>
										<% } %>
									</button>

								</div>

								<div class="instructor_text">
									<p><%= userActors[i].bio.substring(0, 70) %></p>
								</div>
								<div class="instructor_social">
									<ul>
										<!-- UPDATE ACTOR : Modal Button-->
										<li><button class="btn btn-info btn-sm" data-toggle="modal"
												data-target="#updateActor<%= userActors[i].id %>"><span><i
														class="fa fa-edit"></i>&nbsp&nbspUPDATE</span></button></li>
										<!-- DELETE ACTOR : Modal Button-->
										<li></li><button class="btn btn-danger btn-sm" data-toggle="modal"
											data-target="#deleteActor<%= userActors[i].id %>"><span><i
													class="fa fa-trash"></i>&nbsp&nbspDELETE</span></button></li>
									</ul>
								</div>
							</div>
						</div>
					</div>




					<!-------------------------->
					<!-- TOGGLE ACTOR : Modal -->
					<!-------------------------->
					<div class="modal fade" id="toggleActor<%= userActors[i].id %>" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="top: 30vh;">
							<div class=" modal-content">
								<div class="modal-body customer-box">
									<!-- Tab panes -->
									<div class="tab-content">
										<div class="tab-pane active" id="Login">

											<form method="POST"
												action="/actors/visibility<%= userActors[i].id %>?_method=PUT"
												class="form-horizontal">
												<div class="form-group">
													<div class="col-sm-12">
														<p>Are you sure you want to
															<%= userActors[i].isShared == 0 ? "share" : "hide" %> this
															actor?</p>

														<input type="hidden" name="id" value="<%= userActors[i].id %>"
															class="form-control" required>
													</div>
												</div>

												<div class="row">
													<div class="col-sm-10"
														style="display: flex;justify-content: center;margin: auto;">
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-<%= userActors[i].isShared == 0 ? "primary" : "secondary" %> btn-radius btn-brd grd1">
															<%= userActors[i].isShared == 0 ? "SHARE" : "HIDE" %>
														</button>
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-dark btn-radius btn-brd grd1"
															data-dismiss="modal" aria-hidden="true">
															CANCEL
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>





					<!-------------------------->
					<!-- UPDATE ACTOR : Modal -->
					<!-------------------------->
					<div class="modal fade" id="updateActor<%= userActors[i].id %>" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-body customer-box">
									<!-- Tab panes -->
									<div class="tab-content">
										<div class="tab-pane active" id="Login">
											<form method="POST" action="/actors/<%= userActors[i].id %>?_method=PUT"
												class="form-horizontal" enctype="multipart/form-data">
												<div class="form-group">
													<div class="col-sm-12">
														<input type="text" name="fullname"
															value="<%= userActors[i].fullname %>" class="form-control"
															placeholder="fullname" required>
													</div>
												</div>

												<div class="form-group">
													<div class="col-sm-12">
														<textarea rows="8" name="bio" class="form-control"
															placeholder="bio"
															required><%= userActors[i].bio %></textarea>
													</div>
												</div>

												<div class="form-group">
													<div class="col-sm-12">
														<select class="form-control" name="isShared">
															<option value=0
																<%= userActors[i].isShared==0 && "selected='selected'"%>>
																Private
															</option>
															<option value=1
																<%= userActors[i].isShared==1 && "selected='selected'"%>>
																Public
															</option>
														</select>
													</div>
												</div>

												<div class="form-group">
													<div class="col-sm-12">
														<label for="actorPhoto">Choose a photo:</label>
														<input type="file" id="actorPhoto" name="image"
															class="form-control-file rounded-0" accept="image/*">
													</div>
												</div>


												<div class="row">
													<div class="col-sm-10"
														style="display: flex;justify-content: center;margin: auto;">
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-primary btn-radius btn-brd grd1">
															Submit
														</button>
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-dark btn-radius btn-brd grd1"
															data-dismiss="modal" aria-hidden="true">
															Cancel
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-------------------------->
					<!-- DELETE ACTOR : Modal -->
					<!-------------------------->
					<div class="modal fade" id="deleteActor<%= userActors[i].id %>" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="top: 30vh;">
							<div class=" modal-content">
								<div class="modal-body customer-box">
									<!-- Tab panes -->
									<div class="tab-content">
										<div class="tab-pane active" id="Login">

											<form method="POST" action="/actors/<%= userActors[i].id %>?_method=DELETE"
												class="form-horizontal">
												<div class="form-group">
													<div class="col-sm-12">
														<p>Are you sure you want to delete this actor?</p>

														<input type="hidden" name="id" value="<%= userActors[i].id %>"
															class="form-control" placeholder="title" required>
													</div>
												</div>

												<div class="row">
													<div class="col-sm-10"
														style="display: flex;justify-content: center;margin: auto;">
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-danger btn-radius btn-brd grd1">
															DELETE
														</button>
														<button type="submit" style="margin: 0 10px;"
															class="btn btn-outline-dark btn-radius btn-brd grd1"
															data-dismiss="modal" aria-hidden="true">
															CANCEL
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- SINGLE ACTOR : END -->
					<% } %>

					<% } else { %>
					<div style="margin:auto; margin-bottom: 40px;">
						You haven't added any actor yet.
					</div>
					<% } %>
				</div>
			</div>
		</div>

		<%- include('partials/_footer'); %>

		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/styles/bootstrap4/popper.js"></script>
		<script src="/styles/bootstrap4/bootstrap.min.js"></script>
		<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
		<script src="/plugins/easing/easing.js"></script>
		<script src="/js/custom.js"></script>
</body>

</html>