<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(allSharedMovies.length > 0){ %>
    <% for(let i=0; i<allSharedMovies.length; i++){ %>

    <div>
        <h2><a href="/movies/<%= allSharedMovies[i].id %>"><%= allSharedMovies[i].title %></a></h2>
        <% if(!moviesLikedByUser.includes(allSharedMovies[i].id)){ %>
        <form method="POST" action="/movies/like">
            <input type="hidden" name="id" value="<%= allSharedMovies[i].id %>">
            <input type="hidden" name="requestAddress" value="/movies">
            <button class="btn btn-lg btn-default text-white"><span>LIKE</span></button>
        </form>
        <% } else { %>
        <form method="POST" action="/movies/unlike">
            <input type="hidden" name="id" value="<%= allSharedMovies[i].id %>">
            <input type="hidden" name="requestAddress" value="/movies">
            <button class="btn btn-lg btn-warning text-white"><span>UNLIKE</span></button>
        </form>
        <% } %>

        <p><%= allSharedMovies[i].likeCount %> likes</p>
        <p><%= allSharedMovies[i].description %></p>
        <p>added by <%= allSharedMovies[i].user.username %></p>
    </div>

    <% } %>
    <% } else { %>

    <div>
        There is no movie in the database yet
    </div>
    <% } %>

</body>

</html>