<!-- Header -->

<header class="header">

    <!-- Header Content -->
    <div class="header_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">


                        <div class="logo_container mr-auto">
                            <a href="/">
                                <div class="logo_text">MovieCamp</div>
                            </a>
                        </div>

                        <% if(userIN) { %>
                        <nav class="main_nav_contaner">
                            <ul class="main_nav">
                                <li class="<%= page_name ==='newsfeed' && 'active' %>"><a href="/newsfeed">Newsfeed</a>
                                </li>
                                <li class="<%= page_name ==='actors' && 'active' %>"><a href="/actors">Actors</a></li>
                                <li class="<%= page_name ==='movies' && 'active' %>"><a href="/movies">Movies</a>
                                </li>
                                <li class="<%= page_name ==='dashboard' && 'active' %>"><a
                                        href="/users/dashboard">Dashboard</a></li>
                                </li>
                            </ul>
                        </nav>
                        <% } %>

                        <div class="header_content_right ml-auto text-right">
                            <% if(!userIN) { %>
                            <% if(page_name=="index" ) { %>
                            <div class="user"><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                            </div>
                            <% } else if(page_name=="login" ) { %>
                            <div class="user"><a href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                            </div>
                            <% } else if(page_name=="signup" ) { %>
                            <div class="user"><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                            </div>
                            <% } %>
                            <% } %>

                            <% if(userIN) { %>
                            <div class="user"><a href="/users/logout"><i class="fa fa-sign-out"
                                        aria-hidden="true"></i></a>
                            </div>
                            <% } %>


                            <!-- Hamburger -->

                            <div class="hamburger menu_mm">
                                <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- Menu -->

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container">
        <div class="menu_close">
            <div></div>
            <div></div>
        </div>
    </div>

    <nav class="menu_nav">
        <ul class="menu_mm">
            <% if(userIN) { %>
            <li class="<%= page_name ==='newsfeed' && 'active' %>"><a href="/newsfeed">Newsfeed</a>
            </li>
            <li class="<%= page_name ==='actors' && 'active' %>"><a href="/actors">Actors</a></li>
            <li class="<%= page_name ==='movies' && 'active' %>"><a href="/movies">Movies</a>
            </li>
            <li class="<%= page_name ==='dashboard' && 'active' %>"><a href="/users/dashboard">Dashboard</a></li>
            </li>
            <% } %>
            <% if(!userIN) { %>
            <li class="menu_mm <%= page_name ==='login' && 'active' %>"><a href="/login">Login</a></li>
            <li class="menu_mm <%= page_name ==='signup' && 'active' %>"><a href="/signup">Signup</a></li>
            <% } %>
        </ul>
    </nav>
</div>